@charset "utf-8";
/* CSS Document */
        * {
            margin: 0;
            padding: 0;
            font-family: Calibri, Arial, sans-serif;
			outline:none;
        }
        
        body {
            display:none;
        }
        
        a {
            text-decoration: none;
            color: #032FAE;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        #nav {            
            text-align: center;
            border-bottom: 3px #4c4c4c solid;
			background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
        
        #nav li {
            display: inline-block;
            height: 20px;
            padding: 9px 0;
        }
        
        #nav a {
            margin: 0 6px;
            color: #636363;
            padding: 10px 16px 10px 16px; 
            font-weight: bold;
            font-size: 16px;
			cursor:pointer;
        }
        
        #nav a:hover {
            
            color: #8a673d; 
            border-bottom: 3px #4c4c4c solid;
            text-decoration: none;
        }
        
        #logo {        
            height: 135px;
            width: 500px;
            margin-left: 39%;
            background-image: url("images/logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        
        #content {
            width: 800px;
            margin: auto;     
        }
        
        #left {
            float: left;
            width: 190px;  
            padding: 10px;
        }
        
        #center {
            float: right;
            width: 570px; 
            padding: 10px;
        }
        
        div.painel {
            margin-bottom: 10px;
            background: #e2e2e2;
            width: 100%;
            padding: 6px;
            border: 2px #4c4c4c solid;
            border-radius: 6px;
			color:#000000;
        }
        div.painel h2 {
            padding-left: 6px;
            font-size: 16px;
            color: #8a673d;
            border-bottom: 1px #666 dashed;
            margin-bottom: 4px;
        }
        
        div.painel  p {
            font-size: 12px;
            padding-top: 4px;
        }
        
        div.painel h6 {
            margin: 6px 0;
            text-align: right;
        }
        
        div.center {
            text-align: center;
        }
		#message,#login {
			font-size:12px;
		}
        input,select,option {
            border: 0;
            background: #222; 
        }
        
        input.text,select.text,option.text {        
            border-radius: 6px;
            padding: 6px;
            margin-top: 4px;
            color: #EEE;
        }
        
        input.submit {  
            font-size: 12px;
            border-radius: 6px;
            padding: 4px 16px;
            margin-top: 6px;        
            font-weight: bold;
            cursor: pointer;
            color: #EEE;
        }
        
        input.submit:hover {
            background: #95080B;
        }
		input:disabled{
		   background:red;
		   }